{% load static %}

{{ user.nickname|json_script:"user_nickname" }}
{{ feed.like_count|json_script:"feed_like_count" }}

<div class="post">
    {% for feed in feeds %}
    <div class="post_header">
        <div class="post_headerAuthor">
            <img src="{% get_media_prefix %}{{feed.profile_image}}" alt="Avatar" class="post_avatar">
            &nbsp&nbsp&nbsp{{feed.nickname}} •&nbsp<span>1일</span>
        </div>
        <span class="material-icons-outlined post_headermore">
            more_horiz
        </span>
    </div>
    <div class="post_image">
        <img src="{% get_media_prefix %}{{feed.image}}" alt>
    </div>
    <div class="post_footer">
        <div class="post_footerIcons">
            <div class="post_iconsMain">
                <span id="favorite_{{ feed.id }}" feed_id="{{ feed.id }}" class="favorite material-icons-outlined postIcon" data-liked="{% if feed.is_liked %}1{% else %}0{% endif %}">
                    {% if feed.is_liked %}favorite{% else %}favorite_border{% endif %}
                </span>
                <span class="material-icons-round postIcon">chat_bubble_outline</span>
                <span class="material-icons-outlined postIcon">send</span>
            </div>
            <div class="post_iconsSave">
                <span id="bookmark_{{ feed.id }}" feed_id="{{ feed.id }}" class="bookmark material-icons-outlined postIcon_bookmark" data-marked="{% if feed.is_marked %}1{% else %}0{% endif %}">
                    {% if feed.is_marked %}bookmark{% else %}bookmark_border{% endif %}
                </span>
            </div>
        </div>
        <p id="p_like_count_{{ feed.id }}" style="margin: 0px 0px 10px 0px; font-size: 14px;"><b>춘식이</b>님 <b>외{{feed.like_count}}명</b>이 좋아합니다.</p>
        {% if feed.content != null %}
        <p style="margin: 0px 0px 5px 0px; font-size: 14px;"><b>{{feed.nickname}}</b>&nbsp;
            {{feed.content}}</p>
        {% endif %}
        <div id="reply_list_{{ feed.id }}" class="reply_list">
            {% for reply in feed.reply_list %}
            <p><b>{{ reply.nickname }}</b>&nbsp; {{ reply.reply_content }}</p>
            {% endfor %}
        </div>
        <div class="post_comment">
            <div class="post_comment_button" role="button" tabindex="0">
                <div class="post_commant_button_icon">
                    <span class="material-icons-outlined" style="color: gray; font-size: 15px;">sentiment_satisfied_alt</span>
                </div>
            </div>
            <textarea id="reply_{{ feed.id }}" aria-label="댓글 달기..." placeholder="댓글 달기..." autocomplete="off" autocorrect="off" dir class="post_comment_textarea"></textarea>
            <button feed_id="{{ feed.id }}" class="feed_reply_submit_button">게시</button>
        </div>
    </div>
    {% endfor %}
</div>