{% load static %}

<div class="suggestions">
    <div class="suggestion_profile">
        <div class="suggestion_profile_left">
            <span>
                {% if "default_profile.png" in user.profile_image %}
                <img src="{% static 'image/default_profile.png' %}" alt="Avatar" class="suggestion_profile_avatar">
                {% else %}
                <img src="{% get_media_prefix %}{{ user.profile_image }}" alt="Avatar" class="suggestion_profile_avatar">
                {% endif %}
            </span>
            <div class="suggestion_profile_info">
                <span class="suggestion_profile_username">{{ user.nickname }}</span>
                <span class="suggestion_profile_relation">{{ user.name }}</span>
            </div>
        </div>
        <button class="follow_button">전환</button>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="suggestions_title">
            회원님을 위한 추천
        </div>
        <div>
            <a class="suggestions_title_link" href="#">모두보기</a>
        </div>
    </div>
    <div class="suggestions_usernames">
        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img src="https://source.unsplash.com/random/10" alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">David</span>
                    <span class="relation">회원님을 위한 추천</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img src="https://source.unsplash.com/random/11" alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">phillip</span>
                    <span class="relation">회원님을 위한 추천</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img src="https://source.unsplash.com/random/12" alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">andy</span>
                    <span class="relation">회원님을 위한 추천</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img src="https://source.unsplash.com/random/13" alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">anna</span>
                    <span class="relation">회원님을 위한 추천</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>
    </div>
    <div class="brand_info" style="margin-top: 40px;">소개
        . 도움말 . 홍보센터 .
        API
        . 채용 정보</div>
    <div class="brand_info">개인정보처리방침 . 약관 . 위치 . 언어 . Meta
        Verified</div>
    <br>
    <div class="brand_info">@2023 INSTAGRAM FROM META</div>
</div>