:root{
    --nav-wide-width : 335px;
    --nav-medium-width: 244px;
    --nav-narrow-width: 72px;
}

.homepage{  
    margin: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (min-width: 1920px){
    .homepage_nav {
        width: var(--nav-wide-width) !important;
    }
}

@media (min-width: 1264px) and (max-width: 1919px){
    .homepage_nav {
        width: var(--nav-medium-width) !important;
    }
}

@media (max-width: 1263px){
    .sidenav_menutext{
        display: none;
    }

    .timeline_right{
        display: none;
    }
}

.homepage_nav{
    width: 72px;
}

.homepage_timeline{
    flex: 1;
}