.homepage{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

@media (min-width: 1920px){
    .homepage_nav {
        width: 335px !important;
    }
}

@media (min-width: 1264px) and (max-width: 1919px){
    .homepage_nav {
        width: 244px !important;
    }
}

.homepage_nav{
    width: 72px;
    border-right: solid 1px gainsboro;
}

.homepage_timeline{
    width: 80%;
}