.Slidesbackground {
    margin: 0;
    padding: 0;
    background-size: 468.32px 634.15px;
    height: 600.15px;
    margin-bottom: 12px;
    background-image: url("/static/image/home-phones.png");
    align-self: center;
    flex-basis: 500.32px;
    margin-right: 32px;
}
.slideshow-image{
    border-radius:10px;
    width: 205px;
    height: 553px;
    position: absolute;
    display: none;
    top: 13px;
    left: 110px;
}
.mySlides {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 27px;
    margin-left: 113px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 100%;
    flex-direction: column;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
}

.join{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
}

.join_left{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 500px;
}

.join_right{
    width: 350px;
}

.join_more{
    border: 1px solid gainsboro;
    padding: 20px;
    text-align: center;
    text-align: center;
    margin-top: 15px;
}

.join_more > span{
    font-size: 14px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.join_more > span > a{
    background: 0;
    color: rgb(0, 149, 246);
    font-weight: 600;
    border: 0;
    font-size: 14px;
    text-decoration: none;
}

.join_more > span > a:hover{
    cursor: pointer;
}

.form-floating > .form-control,
.form-floating > .form-control-plaintext,
.form-floating > .form-select {
  height: calc(2.2rem + calc(var(--bs-border-width) * 2)) !important;
  min-height: calc(2.2rem + calc(var(--bs-border-width) * 2)) !important;
}


.form-control{
    background-color: rgb(250, 250, 250) !important;
    border: 1px solid gainsboro !important;
    border-radius: 3px !important;
    padding: 5px 5px 5px 5px !important;
    font-size: 12px !important;
    line-height: 0px !important;
}

.form-control:focus {
    border-color: gray !important;
    box-shadow: 0 0 0 0 !important;
}

.form-control:not(:placeholder-shown){
    padding: 15px 5px 5px 5px !important;
}

.form-floating > label{
    font-size: 12px !important;
    color: gray !important;
    padding: 0.5rem 0.3rem !important;
}

.form-floating > label::after{
    background-color: transparent !important;
}


.form-floating > .form-control:focus ~ label{
    transform: none !important;
}

.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-select ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem) !important;
}

@media (max-width: 875px){
    .join_left {
        display: none;
    }
}
