.Slidesbackground {
    margin: 0;
    padding: 0;
    background-size: 468.32px 634.15px;
    height: 581.15px;
    margin-bottom: 12px;
    background-image: url("/static/image/home-phones.png");
    background-position: -46px 0;
    align-self: center;
    flex-basis: 380.32px;
    margin-right: 32px;
}
.slideshow-image{
    border-radius:3%;
    width: 250px;
    height: 538.84px;
    position: absolute;
    display: none;
}
.mySlides {
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-top: 27px;
    margin-left: 113px;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 100%;
    flex-direction: column;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    position: relative;
    vertical-align: baseline;
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}