.post_avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

.post{
  width: 470px;
  margin: 30px 40px 50px 40px;
}

.post_header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  padding: 20px 0px 0px 0px;
}

.post_headerAuthor{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.post_headerAuthor > span{
  color: gray;
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.post_headermore{
  font-size: 25px !important;
}

.post_image > img{
  width: 100%;
  border-radius: 5px;
}

.post_footer{
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid gainsboro;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.post_footerIcons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
}

.postIcon:hover{
  cursor: pointer;
}

.postIcon{
  font-size: 25px !important;
  margin-right: 10px !important;
}

.postIcon_bookmark{
  font-size: 25px !important;
}

.post_comment{
  border: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  font: inherit;
  margin: 0;
  padding: 0;
  align-items: center;
}

.post_comment_button{
  order: 3;
  justify-content: center;
  background-color: transparent;
  touch-action: manipulation;
  margin-top: 0;
  border-right-style: none;
  border-left: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom-style: none;
  margin-left: 0;
  border-top-style: none;
  border-right: 0;
  text-align: inherit;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border-bottom: 0;
  border-top: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.post_comment_button_icon{
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  text-align: inherit;
  list-style: none;
  text-decoration: none;
}

.post_comment_textarea{
  height: 18px;
  border-left: none;
  border-right: none;
  background-color: rgb(255, 255, 255);
  resize: none;
  width: 0;
  max-height: 80px;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  color: rgb(0, 0, 0);
  padding-right: 0;
  font-size: 14px;
  flex-grow: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding-bottom: 0;
  outline: none;
  border-top: none;
  border-bottom: none;
  line-height: 18px;
  max-width: 100%;
  border-radius: 0;
  margin: 0;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  cursor: text;
  overflow-wrap: break-word;
  column-count: initial !important;
  overflow: hidden;
  box-sizing: border-box;
  text-align: start;
}

.post_comment > button{
  color: rgb(0, 149, 246);
  background-color: transparent; 
  font-weight: 600; 
  font-size: .875rem; 
  border:none;
  display: None;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding: 0 10px;
}

.post_comment > button:hover{
  color: rgb(0, 55, 107);
}

.reply_list > p{
  margin: 0px 0px 5px 0px; 
  font-size: 14px;
}

.favorite {
  cursor: pointer;
}
.favorite:hover {
  color: gray;
}
.favorite_border {
  color: black;
}
.favorite_fill {
  color: red !important;
}

.post_iconsMain{
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.bookmark {
  cursor: pointer;
}

.bookmark:hover {
  color: gray;
}

.bookmark_border {
  color: black;
}
.bookmark_fill {
  color: black !important;
}