{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>djangogram</title>
        <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
        <link rel="stylesheet" href="{% static 'css/sidenav.css'%}">
        <link rel="stylesheet" href="{% static 'css/timeline.css'%}">
        <link rel="stylesheet" href="{% static 'css/suggestions.css'%}">
        <link rel="stylesheet" href="{% static 'css/post.css'%}">
        <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    </head>
    <body>
        <div class="homepage">
            <div class="homepage_nav">
                {% include "djangogram/sidenav.html" %}
            </div>
            <div class="homepage_timeline">
                {% include "djangogram/timeline.html" %}
            </div>
        </div>
    </body>
</html>