{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>djangogram</title>
        <link rel="stylesheet" href="{% static 'css/homepage.css'%}">
        <link rel="stylesheet" href="{% static 'css/sidenav.css'%}">
        <link rel="stylesheet" href="{% static 'css/timeline.css'%}">
        <link rel="stylesheet" href="{% static 'css/suggestions.css'%}">
        <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">
    </head>
    <body>
        <div class="homepage">
            <div class="homepage_nav">
                <div class="sidenav">
                    <img class="sidenav_logo"
                        src="{% static 'image/instagram_logo.png' %}" alt>
                    <div class="sidenav_buttons">
                        <button class="sidenav_button">
                            <span class="sidenav_icon material-icons-round">home</span>
                            <span class="sidenav_menutext">홈</span>
                        </button>
                        <button class="sidenav_button">
                            <span class="sidenav_icon material-icons-round">search</span>
                            <span class="sidenav_menutext">검색</span>
                        </button>
                        <button class="sidenav_button">
                            <span class="sidenav_icon material-icons-outlined">explore</span>
                            <span class="sidenav_menutext">탐색 탭</span>
                        </button>
                        <button class="sidenav_button">
                            <span class="material-icons-outlined sidenav_icon">slideshow</span>
                            <span class="sidenav_menutext">릴스</span>
                        </button>
                        <button class="sidenav_button">
                            <span class="material-icons sidenav_icon">send</span>
                            <span class="sidenav_menutext">메시지</span>
                        </button>
                        <button class="sidenav_button">
                            <div class="material-icons-round sidenav_icon">favorite_border</div>
                            <span class="sidenav_menutext">알림</span>
                        </button>
                        <button class="sidenav_button">
                            <div class="material-icons-outlined sidenav_icon">add_box</div>
                            <span class="sidenav_menutext">만들기</span>
                        </button>
                    </div>
                    <div class="sidenav_more">
                        <button class="sidenav_button">
                            <span class="material-icons-outlined sidenav_icon">menu</span>
                            <span class="sidenav_menutext">더 보기</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="homepage_timeline">
                <div class="timeline">
                    <div class="timeline_left">
                        timeline
                    </div>
                    <div class="timeline_right">
                        <div class="suggestions">
                            suggestions
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>