{% load static %}

<div class="post">
    {% for feed in feeds %}
    <div class="post_header">
        <div class="post_headerAuthor">
            <img
                src="{{feed.profile_image}}"
                alt="Avatar" class="post_avatar">
            &nbsp&nbsp&nbsp{{feed.user_id}} •&nbsp<span>1일</span>
        </div>
        <span class="material-icons-outlined post_headermore">
            more_horiz
        </span>
    </div>
    <div class="post_image">
        <img src="{{feed.image}}" alt>
    </div>
    <div class="post_footer">
        <div class="post_footerIcons">
            <div class="post_iconsMain">
                <span class="material-icons-outlined postIcon">favorite_border</span>
                <span class="material-icons-round postIcon">chat_bubble_outline</span>
                <span class="material-icons-outlined postIcon">send</span>
            </div>
            <div class="post_iconsSave">
                <span class="material-icons-outlined postIcon_bookmark">bookmark_border</span>
            </div>
        </div>
        <p style="margin: 0px 0px 10px 0px; font-size: 14px;"><b>춘식이</b>님 <b>외
                {{feed.like_count}}명</b>이
            좋아합니다.</p>
        {% if feed.content != null %}
        <p style="margin: 0px 0px 5px 0px; font-size: 14px;"><b>{{feed.user_id}}</b>&nbsp;
            {{feed.content}}</p>
        {% endif %}
        <p style="margin: 0px 0px 5px 0px; font-size: 14px;"><b>nice88</b>&nbsp; 멋지다~</p>
        <p style="margin: 0px 0px 5px 0px; font-size: 14px;"><b>apple56</b>&nbsp; 나도 가고
            싶다</p>
        <p style="margin: 0px 0px 5px 0px; font-size: 14px;"><b>steel954</b>&nbsp; 여기
            어디임?</p>
        <form class="post_commant">
            <div class="post_commant_button" role="button" tabindex="0">
                <div class="post_commant_button_icon">
                    <span class="material-icons-outlined"
                        style="color: gray; font-size: 15px;">sentiment_satisfied_alt</span>
                </div>
            </div>
            <textarea aria-label="댓글 달기..." placeholder="댓글 달기..."
                autocomplete="off" class="post_commant_textarea"></textarea>
        </form>
    </div>
    {% endfor %}
</div>