{% load static %}

<div class="suggestions">
    <div class="suggestions_title">회원님을 위한 추천</div>
    <div class="suggestions_usernames">
        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img
                        src="https://source.unsplash.com/random/10"
                        alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">john</span>
                    <span class="relation">New to Instagram</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img
                        src="https://source.unsplash.com/random/11"
                        alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">phillip</span>
                    <span class="relation">New to Instagram</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img
                        src="https://source.unsplash.com/random/12"
                        alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">andy</span>
                    <span class="relation">New to Instagram</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>

        <div class="suggestion_username">
            <div class="username_left">
                <span>
                    <img
                        src="https://source.unsplash.com/random/13"
                        alt="Avatar" class="suggestion_avatar">
                </span>
                <div class="username_info">
                    <span class="username">anna</span>
                    <span class="relation">New to Instagram</span>
                </div>
            </div>
            <button class="follow_button">팔로우</button>
        </div>
    </div>
</div>