{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>djangogram</title>
    <link rel="stylesheet" href="{% static 'css/join.css'%}" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    </meta>
</head>

<body>
    <div class="join">
        <div class="auth_left">
            <span class="slideshow-container">
                <div class="Slidesbackground">
                    <div class="mySlides">
                        <img id="s1" src="{% static 'image/screenshot1.png' %}" class="slideshow-image">
                        <img id="s2" src="{% static 'image/screenshot2.png' %}" class="slideshow-image">
                        <img id="s3" src="{% static 'image/screenshot3.png' %}" class="slideshow-image">
                        <img id="s4" src="{% static 'image/screenshot4.png' %}" class="slideshow-image">
                    </div>
                </div>
            </span>
        </div>
        <div class="auth_right"></div>
    </div>
</body>
<script src="{% static 'js/user.js' %}"></script>

</html>